<!DOCTYPE html>
<html lang="ru">
<head>
    {% block Scripts_n_over %}{% endblock Scripts_n_over %}
</head>

<body>
<table border="1" cellpadding="5" style="border-collapse: collapse; border: #205067">
<tr> <!-- ШАПКА -->
    <td colspan="3">мама казала надеть фапку</td>
</tr>
    <tr><th colspan="3"><font face="Arial">СРЕДНИЕ ЦЕНЫ ПО ДАННЫМ YA MARKET</font></th></tr>
<tr bgcolor="#ffe4c4">
    <td></td>
    <td width="300">{% include 'cat_head.html' %}</td>
    <td>Скромный баннер Bentley Motors</td>
</tr>
<tr>
    <td width="300" valign="top"> <!-- ЛЕВОЕ МЕНЮ -->
        {% block left %}{% endblock %}
    </td>
    <td> <!-- СЕРВИС -->

        {% block service %}{% endblock %}
    </td>
    <td valign="top"><!-- РЕКЛАМА -->
        {% block right %}
            <hr>
            <li>Баннер Tiffany & Co. Jewerly house</li>
            <hr>
            <li>Баннер Hennessy Cognac</li>
            <hr>
            <li>Нескромный баннер Bentley Motors</li>
            <hr>
        {% endblock %}
    </td>
</tr>
<tr> <!- ФУТЕР >
{% block footer %}{% endblock %}
</tr>

</table>
</body></html>