{% extends "base.html" %}
{% block Scripts_n_over %}
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {



          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Month');
          {% for ven in Col %}
          data.addColumn('number', '{{ ven }}')
          {% endfor %}
          data.addRows([
              {% for mth, prc in Result_Avg.items %}
                  ['{{ mth|date:"b-y"}}'{% for i in prc %}, {% if not i %}NaN{% else %}{{ i }}{% endif %}{% endfor %}],
              {% endfor %}
          ]);

        var options = {
          curveType: 'function',
          legend: { position: 'right'},
          vAxis: {title: "Rub"}
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

{% endblock %}
{% block left %}
<!-- форма TTX -->
    <form name="TTX" action="/cat/{{ Cat }}/{{ Fmt }}" method="GET">
    <!-- <input type='hidden' name='csrfmiddlewaretoken' value='randomchars' /> -->

    <input type="submit" value="ФИЛЬТР"><br><br>
    <table><tr>
    <td valign="top"> <!-- TTX fields -->
    {% for fld, chk in TTX_Fields.items %}
        <!-- <b>{{ fld }}:</b><br> -->
        <b>{% for fld_, verbose in Alias_Fields.items %}{% if fld_ == fld %}{{ verbose }}{% endif %}{% endfor %}</b><br>
        {% for name in chk %}
            {% for chek, cheked in name.items %}
            <input type="checkbox" name="{{ fld }}_{{ chek }}" value="{{ chek }}"
                    {% if cheked %}checked{% endif %}>{{ chek }}<br>
            {% endfor %}
        {% endfor %}
        <hr>
    {% endfor %}
    </td>
    <td valign="top"> <!-- Vendor -->
        {% for ven, chk in Vendor_Field.items%}
            <input type="checkbox" name="vendor_{{ ven }}" value="{{ ven }}"
                   {% if chk %}checked{% endif %}>{{ ven }}<br>
        {% endfor %}
    <hr>
    </td>
    </tr></table>
    </form>
{% endblock %}

{% block service %}
<!-- график средних цен -->
    <div id="curve_chart" style="width: 600px; height: 500px"></div>

{% endblock %}




