<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проба графика</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {



          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Month');
          {% for ven in Col %}
          data.addColumn('number', '{{ ven }}')
          {% endfor %}
          data.addRows([
              {% for mth, prc in Result_Avg.items %}
                  ['{{ mth|date:"b-y"}}'{% for i in prc %}, {% if not i %}NaN{% else %}{{ i }}{% endif %}{% endfor %}],
              {% endfor %}
          ]);

        var options = {
          title: 'Средние цены по данным Ya-M',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>

<table  cellpadding="10"> <!-- оглавление категорий -->
<tr>

    {% for i, j in Dict_Cat.items %}
        <td>
            <a href="/cat/{{ i }}/{{ Fmt }}">{{ j }} </a>
        </td>
    {% endfor %}

</tr></table>
<hr>
    {{ Category }}
<table>
    <tr>
        <td>^-Графично^^</td><td><a href="/cat/{{ Cat }}/T">--Таблично--</a>a</td>
    </tr>
</table>

<!-- график средних цен -->

Графег

<div id="curve_chart" style="width: 900px; height: 500px"></div>


</body>
</html>

