<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проба графика</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.DataTable();

            //Data Load

            data.addColumn('date', 'Month');
            {% for ven in Result_Avg.keys %}
                data.addColumn('number', {{ ven }})
            {% endfor %}
                data.addRows([
            {% for mth, prices in Result_Avg.items %}
                [{{ vendor }}{% for i in prc %},{{ i }}{% endfor %}]
            {% endfor %}
                ]);

            //Chart
                var chart = new google.visualization.LineChart(document.getElementById('Avg_price_chart'));
      chart.draw(data, null);

        }


    </script>

</head>
<body>

</body>
</html>





{% block service %}
<table  cellpadding="10"> <!-- ОГЛАВЛЕНИЕ КАТЕГОРИЙ -->
<tr>

    {% for i, j in Dict_Cat.items %}
        <td>
            <a href="/cat/{{ i }}">{{ j }} </a>
        </td>

    {% endfor %}

</tr></table>
<hr>
    {{ Category }}

<!-- график средних цен -->


{% endblock %}
{% block left %}
    {% for i in Fields %}
        <li>{{ i }}</li>

    {% endfor %}
{% endblock %}

